html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Livvic", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 600;
  color: $white;
  background-color: $midnight-green;
}

img{
  max-width: 100%;
  height: auto;
}

main{
  flex-grow: 1;
}