.button{
  display: inline-block;
  min-width: 153px;
  max-width: 100%;
  padding: 10px 16px;
  border-radius: 24px;
  border: 2px solid transparent;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  
  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba($rapture-blue, 0.5);
  }
}

.button--disabled{
  opacity: 0.25;
}

.button--light{
  border: 2px solid $white;
  color: $white;
  
  &:hover{
    background-color: $white;
    color: $dark-green;
  }
}

.button--dark{
  border: 2px solid $sacramento-green;
  color: $sacramento-green;
  
  &:hover{
    background-color: $sacramento-green;
    color: $white;
  }
}

.button--secondary{
  background-color: $white;
  border: 2px solid $white;
  color: $dark-green;
  
  &:hover{
    background-color: $rapture-blue;
    border: 2px solid $rapture-blue;
  }
}