.feature-section{
  padding: 140px 0;
  background-color: $sacramento-green;
  background-image: url("../img/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right -100px;
}

.feature-section__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-section__heading{
  position: relative;
  max-width: 445px;
  padding-top: 58px;
  margin: 0;
  margin-right: 30px;
}

.feature-section__heading::before{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 4px;
  background-color: $light-coral;
  content: "";
}

.feature-section__list{
  @include reset-list;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin-top: -16px;
  margin-bottom: -16px;
}

.feature-section__item{
  margin-top: 16px;
  margin-bottom: 16px;
}

.feature{
  display: flex;
}

.feature::before{
  display: inline-block;
  min-width: 72px;
  max-width: 72px;
  height: 72px;
  margin-right: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.network::before{
  background-image: url("../img/icon-person.svg");
}

.process::before{
  background-image: url("../img/icon-cog.svg");
}

.platform::before{
  background-image: url("../img/icon-chart.svg");
}

.feature__name{
  margin-top: 0;
  margin-bottom: 16px;
  color: $light-coral;
}

.feature__text{
  margin: 0;
  opacity: 0.8;
}

@include breakpoint-down (1050px){
  .feature-section{
    padding: 100px 0;
    background-position: top right -100px;
  }
  
  .feature-section__container{
    flex-direction: column;
    max-width: 573px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .feature-section__heading{
    padding-top: 36px;
    margin-right: 0;
    margin-bottom: 64px;
    font-size: 32px;
    line-height: 32px;
  }
}

@include breakpoint-down (600px){
  .feature-section{
    padding: 64px 0;
  }

  .feature-section__heading{
    max-width: 240px;
    margin-bottom: 56px;
  }

  .feature-section__list{
    margin-top: -24px;
    margin-bottom: -24px;
  }

  .feature-section__item{
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .feature{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature::before{
    margin-right: 0;
    margin-bottom: 16px;
  }

  .feature__name{
    margin-bottom: 8px;
  }
}