.promo-section{
  padding-bottom: 250px;
  background-color: $midnight-green;
  background-image: url("../img/bg-pattern-home-1.svg"),
  url("../img/bg-pattern-home-2.svg");
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-position: top left -100px, bottom right;
}

.promo-section__container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.promo-section__heading{
  align-self: flex-end;
  max-width: 635px;
  margin: 0;
  margin-right: 30px;
  font-size: 100px;
  line-height: 100px;
  color: $white;
}

.promo-heading__span{
  color: $light-coral;
}

.promo-section__text{
  position: relative;
  align-self: flex-end;
  max-width: 445px;
  padding-top: 83px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}


.promo-section__text::before{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 4px;
  background-color: $rapture-blue;
  content: "";
}

@include breakpoint-down (1350px){
  .promo-section{
    background-image: url("../img/bg-pattern-home-2.svg");
    background-size: auto;
    background-position: bottom left 50%;
  }
}

@include breakpoint-down (1050px){
  .promo-section__heading{
    max-width: 500px;
    font-size: 80px;
    line-height: 80px;
  }
  
  .promo-section__text{
    max-width: 345px;
    padding-top: 30px;
  }
}

@include breakpoint-down (850px){
  .promo-section__container{
    flex-direction: column;
    text-align: center;
  }
  
  .promo-section__heading{
    max-width: 380px;
    align-self: center;
    margin-right: 0;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 56px;
  }
  
  .promo-section__text{
    max-width: 457px;
    align-self: center;
    padding-top: 0;
    padding-bottom: 6px;
    font-size: 15px;
    line-height: 28px;
  }
  
  .promo-section__text::before{
    display: none;
  }
}

@include breakpoint-down (550px){
  .promo-section{
    padding-bottom: 190px;
  }
  
  .promo-section__heading{
    max-width: 230px;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
  }
  
  .promo-section__text{
    max-width: 327px;
  }
}