.start-section{
  padding: 76px 0;
  background-color: $light-coral;
  background-image: url("../img/bg-pattern-home-6-about-5.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom -20px left ;
}

.start-section__container{
  max-width: 764px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-section__heading{
  margin: 0;
  color: $sacramento-green;
}

@include  breakpoint-down(950px){
  .start-section{
    padding: 84px 0;
  }
  
  .start-section__container{
    max-width: 573px;
  }
  
  .start-section__heading{
    font-size: 32px;
    line-height: 32px;
  }
}

@include  breakpoint-down(700px){
  .start-section__container{
    flex-direction: column;
    align-items: center;
    max-width: 327px;
    text-align: center;
  }

  .start-section__heading{
    margin-bottom: 24px;
  }
}